.login-container {
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D013E;
    background-image: linear-gradient(to bottom right, #684D70, #A05969, #CB6652, #E2703C);
}

.login-inputs {
    display: flex;
    width: 70%;
    height: 70%;
}

.login-item {
    flex-basis: 0;
}

.login-image {
    flex: 6;
    user-select: none;
    border-radius: 20px 0 0 20px;
    pointer-events: none;
    background-size: cover;
    background-image: url("../../assets/png/login-light.jpg");
}

.login-information {
    flex: 4;
    display: flex;
    padding: 24px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    justify-content: space-around;
}

.wrapper {
    gap: 16px;
    width: 420px;
    display: flex;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity 2s ease, transform 2s ease;
}

.wrapper.appear {
    opacity: 1;
    transform: scale(1);
}

.title-login {
    font-size: 2rem;
    font-weight: 500;
}

.remember-me {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.forgot-passwd {
    text-decoration: none;
    padding-block-start: 4px;
    color: #009be3;
    cursor: url("/src/assets/svg/pointer-hand.svg") 10 10, pointer;
    user-select: none;
}

.forgot-passwd:hover {
    color: #0082ba;
}

.login-button {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signup-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

@media (prefers-color-scheme: dark) {

    .login-container {
        background-image: linear-gradient(to bottom right, #070012, #2C036B, #2C036D, #3595D1);
    }

    .login-image {
        background-image: url("../../assets/png/login-dark.jpg");
    }

}

@media only screen and (max-width: 670px) {
    .login-information {
        width: 100%;
        border-radius: 24px;
    }

    .login-image {
        display: none;
    }

    .wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .remember-me {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .login-button {
        justify-content: center;
        align-items: center;
    }
}