header {
    background-color: #121319;
    width: 100%;
    height: var(--header-height);
    border-radius: 8px 8px 0 0;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 8px;
}